@model List<Addresses>
<div class="row">
    @foreach (Addresses address in Model) {
        <div class="col-12 col-lg-6 mb-3">
            <div class="card bg-light" style="min-height: 180px;">
                <div class="card-body">
                    <div class="row">
                        <h5 class="col-8 ps-3">
                            @address.Addresses_name
                        </h5>
                        <div class="col-3">
                            <div class="row">
                                <button class="btn btn-xs btn-circle btn-white-secondary ms-auto col-3">
                                    <i class="bx bxs-pencil"></i>
                                </button>
                                <button class="btn btn-xs btn-circle btn-white-primary ms-auto col-3">
                                    <i class="bx bx-x bx-sm"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <p class="w-50 text-left text-muted ps-1">
                        <span>@address.Addresses_street</span>
                        <span>@address.Addresses_city - @address.Addresses_cp</span>
                        <span>@address.Addresses_province</span>
                        <span>@address.Addresses_country</span>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
<a class="btn btn-outline-dark w-100 mt-3 border border-secondary" id="addAddress">
    Add Address
    <i class='bx bx-plus'></i>
</a>

@section scripts {
    <script type="text/javascript">
        $("#addAddress").click(function () {
            console.log("address");
        });
    </script>
}
